<div>
    <h2>Covid Data</h2>
    <select [ngModel]="selectedCountry" (ngModelChange)="onCountryChanged($event)">
        <option value="">Válassz országot</option>
        <option value="hungary">Magyarország</option>
        <option value="france">Franciaország</option>
    </select>
    <select [(ngModel)]="selectedParam">
        <option value="">Válassz adatot</option>
        <option *ngFor="let param of params">{{param.key}}</option>
    </select>
    
</div>
<div>
    
</div>
<div *ngIf="selectedParam">
    <h3>{{selectedParam}}</h3>
   
        <p>{{ getSelectedParamValue()}}</p>
</div>

<div *ngIf="!selectedParam">
    <h3>Összes adat</h3>
    <ul>
        <li *ngFor="let param of params">

            {{param.key}}: {{param.value}}
        </li>
    </ul>

</div>





